body {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    background-image: url('/assets/img/Facetune_29-09-2022-16-32-38.JPG');
}

#container {
    margin: 0 auto;
    text-align: center;
    max-width: 250px;
    border: 2px solid #ff6f00;
    margin-top: 180px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px 2px black;
    background-color: aliceblue;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: underline;
}

#items {
    margin-top: 20px;
}

#items div {
    display: flex;
    justify-content: space-between;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    border: 1px solid grey;
    text-align: start;
    padding: 10px;
    border-bottom: 1px solid #ff6f00;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}

#items div:hover {
    background-color: #ff6363;
}

p {
    margin-top: 0;
    margin-top: 0;
    font-weight: 300;
}

hr {
    margin-top: 0;
}

.selected {
    background-color: #00ff73;
    border-radius: 5px
}